.stmBrowser {
	font-size:130%;
}

.stmBrowser .chart .axis line {
	stroke:black;
	opacity:.2 !important;
}

.stmBrowser .chart .axis path{
	fill:none;
}

.stmBrowser .chart .axis text, .chart .axis line {
	opacity:.6;
	font-family:helvetica;
	font-size:.6em;
	cursor: pointer;
}




.stmBrowser .view-title {
	font-size:.8em;
	padding-top:10px;
}

.stmBrowser #bottom {
	font-size:.5em;
}

.stmBrowser .chart svg {
	font-family:helvetica;
	font-size:.7em;
}

.stmBrowser .chart .div-title {
	font-size:.8em;
	font-family:georgia;
	text-align:center;
	padding-top:10px;
}

.stmBrowser .chart .tick line {
	opacity:.2;
}

.stmBrowser .chart .ytitle-div {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	transform-origin: left top 0;
	-webkit-transform-origin: left top 0;
	left: 10px;
	text-align: center;
	position: relative;
}

.stmBrowser .chart .axis-label {
	font-size:.7em;
	font-family:helvetica;
	opacity:.6;
}

.stmBrowser .chart .xtitle-div {
	text-align:center;
}

.stmBrowser .chart .line-label {
	font-family:helvetica;
}

.stmBrowser #imagechart-svg .label {
	font-size:1.1em;
}

.stmBrowser #bottom {
	position:relative;
	left:0px;
	padding-top:7px;
}

.stmBrowser .hover {
	pointer-events:none;
}

.stmBrowser .icon:hover {
	opacity:1 !important;
	cursor:pointer;
}

.stmBrowser .icon:active {
	opacity:.7 !important;
	cursor:pointer;
}


.stmBrowser #chart-container {
	margin: 8px;
}

.stmBrowser #imagechart-g .axis text {
	font-size:1em;
}

.stmBrowser .overlay {
  fill: none;
  pointer-events: all;
  cursor:pointer;
}

.stmBrowser .circle {
	cursor: pointer;
	opacity:.7;
}

.stmBrowser  #control-label-buttons-zoom {
	padding-right:5px;
}

.stmBrowser #control-wrapper-buttons-zoom {
	width:30px;
	position:relative;
	font-size:.6em;
}


.stmBrowser  #control-wrapper-buttons-zoom .control-button {
	margin: 0px;
	display: inline-block;
	float: left;
	background:#ffffff;
	color:#454545 !important;
}

.stmBrowser  #control-container-buttons-zoom .control-button:first-of-type{
	border-radius: 0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom: 0;
}

.stmBrowser #control-container-buttons-zoom .control-button:last-of-type{
	border-radius: 0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top: 0;
}
